<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Laboratorio</h1>
    <p>Aplicativo Laboratorio</p>
    <p><a href="../ListaElemento/6494788a8baa352e85d6dc3f">Elemento Sodio</p>

  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>